:root {
	--pc: #555555;
	--sc: #3D61AD;
	--tc: #99B1D2;
    --gc: #cccccc;
	--wc: #ffffff;
    --pgc: #4bd0f5;
    --pnc: #f0fcff;
    --g2c: #f8f8f8;
    --shadow: 0px 10px 20px -10px #ddd;
    --shadow-hover: 0px 10px 20px 0px #ddd;
    --bg : #e9ebee;
    --border: 1px solid #ddd;
    --shadow-section : 0 1px 2px rgba(0,0,0,.1);

}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--pc);
    background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: var(--pc);
}
a:hover{
    color: var(--pc);
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}

/*ACCORDIAN*/

/*ACCORDION CUSTOM*/
.mobile-logo{
    margin-bottom: 10px;
}
.mobile-logo img {
    width: 75px;
    padding: 8px 0;
    margin-left: 10px;
}

.mobile-logo i {
    font-size: 20px;
    float: right;
    margin: 10px 20px;
    color: var(--pc);
    cursor: pointer;
    padding: 5px;
}

.mobile-logo i:hover {
    color: var(--sc);
}

.custom.accordion-button {
    text-transform: capitalize;
    font-size: 13px;
    -webkit-transition: .4s;
    transition: .4s;
}

.custom.accordion-button:hover {
    color: var(--wc);
    background: var(--sc);
}

.custom.accordion-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-top: 1px solid #ccc;

}

.custom.accordion-button:not(.collapsed) {
    color: var(--sc);
    background: var(--rc);
    -webkit-transform: none;
    transform: none;
}

.custom.accordion-button:not(.collapsed)::after {
    background-image: none;
    content: "\f068";
    font-family: 'FontAwesome';
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}

.none.accordion-button:not(.collapsed)::after {
    content: none;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}


.custom.accordion-button::after {
    background-image: none;
    content: "\f067";
    font-family: 'FontAwesome';
}

.none.accordion-button::after {
    content: none;
}

.custom.accordion-body {
    padding: 0 0px;
}

.custom.accordion-body ul {
    padding: 0;
    margin: 0;
}

.custom.accordion-body ul li {
    list-style: none;
    padding: 8px 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.custom.accordion-body ul li a {
    text-decoration: none;
    font-size: 13px;
    text-transform: capitalize;
    color: #000;
    font-weight: 400;
    display: inline-block;
    margin-left: 40px;
}

.custom.accordion-body ul li a i {
    font-size: 10px;
    margin-right: 5px;
}

.custom.accordion-body ul li:hover {
    color: var(--wc);
    background: var(--rc);
}

.custom.accordion-body ul li:hover a {
    color: var(--sc);
}

.custom.accordion-item a {
    text-decoration: none;

}

.accordion-button.custom i {
    padding: 0 10px;
    color: var(--sc);
    transition: .2s;
}
.accordion-button.custom:hover i{
    color: var(--wc);
}

.accordion-button.custom {
    padding: 10px;
}
/*ACCORDIAN END*/

.custom-btn{
    color: var(--wc);
    background: var(--sc);
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    border: 1px solid var(--sc);
    text-transform: capitalize;
}
.custom-btn:hover{
    background: var(--wc);
    color: var(--sc);
}
.min-height{
    height: 100%;
}
.after-dot::after {
    content: "";
    height: 2px;
    width: 100px;
    background: var(--sc);
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}
.section-title h2{
    font-size: 25px;
}
.bgc{
    background: #fafafa;
}

/*slick slider*/
.next {
    position: absolute;
    bottom: -60px;
    font-size: 24px;
    cursor: pointer;
    right: 45%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: var(--sc);
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 2px 13px -5px #919191;
    border: 1px solid rgba(145, 145, 145, 0.1);
    transition: .4s;
}

.next:hover {
    color: var(--sc);
}

.prev {
    position: absolute;
    bottom: -60px;
    font-size: 24px;
    cursor: pointer;
    left: 45%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: var(--sc);
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 2px 13px -5px #919191;
    border: 1px solid rgba(145, 145, 145, 0.1);
    transition: .4s;

}

.prev:hover {
    color: var(--sc);
}

/*slick slider end*/